body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #333;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 2em;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}
th {
    background-color: #333;
    color: #fff;
}
td {
    background-color: #f7f7f7;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

/* Responsivo */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 1em;
    }
}

@media (max-width: 480px) {
    main {
        padding: 1em;
    }
    section {
        padding: 0.5em;
    }
}
